.lab_link {
	list-style: none;
	font-size: 1.3em;
	font-family: "Trebuchet MS";
	display: inline-block;
	width: 24%;
	height: 3em;
	line-height: 3em;
	border: 1px solid black;
	border-radius: .5em;
	text-align: center;
}
.lab_link:hover {
	
	background: #D7A7FF;
}
.lab_link a {
	vertical-align: middle;
}
